doctype html
html
  //if lt IE 9
    script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
  head
    title TRS Workbook
    link(rel='stylesheet', href='css/style.css', media='screen')
    // MAIN STYLE CSS FILE
    link#style-color(rel='stylesheet', href='css/colors/blue-color.css', media='screen')
    // DEFAULT BLUE COLOR CSS FILE
  body
    #container
      // main container starts
      #wrapp
        // main wrapp starts
        header#header
          // header starts
          #header-links
          .container
            .head-wrapp
              a#logo(href='index')
                img(src='images/logo.png', alt='')
                | TRS Workbook
              // your logo
          #main-navigation
            // main navigation wrapper starts
            .container
              ul.main-menu
                li
                  a(href='index') Home
                li
                  a#current(href='Clients') Clients
                li
                  a(href='MetaData') MetaData
                li
                  a(href='Jobs') Jobs
              // main navigation ends
              .after-nav-info
                h4 Li, Qiao
            // main navigation wrapper ends
        // header ends
        #breadcrumb
          .container
            .one-half
              h4 Client Detail: #{ClientName}
            .one-half
              a.button.color.big.round(href='Parameter?ClientName='+ClientName) Create New Job
              // breadcrumb nav ends
        form(action='/process_deleteData?fileType=EmployeeData&ClientName='+ClientName, method='POST')
          .intro-features
            // intro features panel starts
            .container
              .blog-post.layout-2
                a.button.color.big.round(href='NewEmployeeData?ClientName='+ClientName) Add EmployeeData
                input.button.color.big.round(type='submit', name='DeleteEmployeeData', value='Delete Employee Data')
              
                each employeeData in EmployeeDataList
                  .blog-post.layout-2
                  div(style='float: left;width:20px')
                    input(name='chb_'+employeeData, type='checkbox')
                  h4 #{employeeData} 
                  

        // intro features panel ends
        form(action='/process_deleteData?fileType=DBResult&ClientName='+ClientName, method='POST')
          .intro-features
            // intro features panel starts
            .container
              .blog-post.layout-2
                a.button.color.big.round(href='NewDBResult?ClientName='+ClientName) Add DB Result
                input.button.color.big.round(type='submit', name='DeleteDBResult', value='Delete DB Result')
              
                each dbResult in DBResultList
                  .blog-post.layout-2
                  div(style='float: left;width:20px')
                    input(name='chb_'+dbResult, type='checkbox')
                  h4 #{dbResult} 
          // intro features panel ends
        section#copyrights
          section.container
            .one-half
              p
                | © 2016 Mercer LLC, All Rights Reserved.
      // main wrapp starts
    // main container ends
