<!DOCTYPE html>
<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<head>
<title>TRS Workbook</title>
<link rel="stylesheet" href="css/style.css" media="screen"/><!-- MAIN STYLE CSS FILE -->
<link rel="stylesheet" id="style-color" href="css/colors/blue-color.css" media="screen"/><!-- DEFAULT BLUE COLOR CSS FILE -->
</head>
<body>
<div id="container">
	<!-- main container starts-->
	<div id="wrapp">
		<!-- main wrapp starts-->
		<header id="header">
		<!--header starts -->
		<div id="header-links">
		</div>
		<div class="container">
			<div class="head-wrapp">
				<a href="index.html" id="logo"><img src="images/logo.png" alt=""/>TRS Workbook</a>
				<!--your logo-->
			</div>
		</div>
		<div id="main-navigation">
			<!--main navigation wrapper starts --> 
			<div class="container">
				<ul class="main-menu">
					<li><a href="index.html" >Home</a>
					</li>
					<li><a href="Clients.html" id="current">Clients</a>
					</li>
					<li><a href="MetaData.html" >MetaData</a>
					</li>
					<li><a href="Jobs.html" >Jobs</a></li>
				</ul>
				<!-- main navigation ends-->
				<div class="after-nav-info">
					<h4>Li, Qiao</h4>
				</div>
			</div>
		</div>
		<!--main navigation wrapper ends -->
		</header>
		<!-- header ends-->
		<div class="intro-features"><!-- intro features panel starts -->
			<div class="container">
			<div class="blog-post layout-2">
			<a href="NewClient.html" class="button color big round">Add New Client</a>
			<a href="#" class="button color big round">Delete Client</a>
			</div>
				<div class="blog-post layout-2">
					<div style="float: left;width:20px"><input type="checkbox" /></div>
					<div class="permalink"><a href="ClientDetail.html" >Client1</a></div>
				</div>
				<div class="blog-post layout-2">
					<div style="float: left;width:20px"><input type="checkbox" /></div>
					<div class="permalink"><a href="ClientDetail.html" >Client2</a></div>
				</div>
				<div class="blog-post layout-2">
					<div style="float: left;width:20px"><input type="checkbox" /></div>
					<div class="permalink"><a href="ClientDetail.html" >Client3</a></div>
				</div>
			</div>
		</div>
	</div><!-- intro features panel ends -->		

	<section id="copyrights">
	<section class="container">
	<div class="one-half">
		<p>
			 &copy; 2016 Mercer LLC, All Rights Reserved.
		</p>
	</div>
	</section>
	</section>
</div>
	<!-- main wrapp starts-->
</div>
<!-- main container ends-->
</body>
</html>