<html>

<head>
    <style type="text/css">
        body {
            background-color: white;
            font-family: "Calibri", Georgia, Serif;
            font-weight: bold;
        }
        a {color:white;}
        div.paraTitle {
            width: 1300px;
            background-color: #8470FF;
            color: white;
            text-align: center;
            font-size: 30px
        }
        div.linkDiv {text-align: right;}
        div.splitDiv {
            width: 1300px;
            background-color: lightgray;
            height: 7px;
            padding-bottom: 0px;
            padding-top: 0px
        }
        
        select,
        input,
        td.spanTd {
            width: 120px;
        }
        
        input.inputFile {
            width: 100%
        }
        
        table {
            width: 100%;
            background-color: black;
            color: white;
        }
        
        table.sectionTable {
            width: 1300px;
        }
        
        table.tableTestCases {
            text-align: center;
        }
        
        td {
            padding-bottom: 10px;
            padding-top: 10px
        }
        
        td.multiLineTd {
            vertical-align: top
        }
        
        td.firstTd {
            padding-left: 30px;
            width: 25%;
        }
        
        td.subTd {
            padding-left: 50px;
            width: 25%;
        }
        
        td.innerTd {
            padding-bottom: 0px;
            padding-top: 0px
        }
        
        td {
            width: 120px;
        }
        
        input.inputSubmit {
            width: 160px;
            height: 80px
        }
        
        span.subSpan {
            padding-left: 20px
        }
        
        #divTestCases,
        #tdSubsetofParticipants1,
        #tdSubsetofParticipants2,
        #tdSubsetofParticipants3,
        #lblTesttrialnumber,
        #tdTesttrialnumber {
            visibility: hidden
        }
    </style>

    <script type="text/javascript">
        function load() {
            switchPayIncreaseType();
        }

        function switchPopbulationtobeRun() {
            switch (document.getElementById('dllPopulationtobeRun').value) {
                case "Subset of Participants":
                    document.getElementById('tdSubsetofParticipants1').style.visibility = "visible";
                    document.getElementById('tdSubsetofParticipants2').style.visibility = "visible";
                    document.getElementById('tdSubsetofParticipants3').style.visibility = "visible";
                    document.getElementById('divTestCases').style.visibility = "hidden";
                    break;
                case "Test Cases":
                    document.getElementById('tdSubsetofParticipants1').style.visibility = "hidden";
                    document.getElementById('tdSubsetofParticipants2').style.visibility = "hidden";
                    document.getElementById('tdSubsetofParticipants3').style.visibility = "hidden";
                    document.getElementById('divTestCases').style.visibility = "visible";
                    break;
                default:
                    document.getElementById('tdSubsetofParticipants1').style.visibility = "hidden";
                    document.getElementById('tdSubsetofParticipants2').style.visibility = "hidden";
                    document.getElementById('tdSubsetofParticipants3').style.visibility = "hidden";
                    document.getElementById('divTestCases').style.visibility = "hidden";
            }
        }

        function switchTrialtobeRun() {
            var TrialValue = document.getElementById('dllTrialtobeRun').value;
            if (TrialValue == "Test Trial") {
                document.getElementById('lblTesttrialnumber').style.visibility = "visible";
                document.getElementById('tdTesttrialnumber').style.visibility = "visible";
            } else {
                document.getElementById('lblTesttrialnumber').style.visibility = "hidden";
                document.getElementById('tdTesttrialnumber').style.visibility = "hidden";
            }
        }

        function switchPayIncreaseType() {
            switch (document.getElementById('dllPayIncreaseType').value) {
                case "Fixed Increase":
                    document.getElementById('txtPayGroup1FixedIncrease').value = "2.0%";
                    document.getElementById('txtPayGroup2FixedIncrease').value = "2.0%";
                    document.getElementById('txtPayGroup3FixedIncrease').value = "3.0%";
                    document.getElementById('dllPayGroup1Agerelatedtable').value = "";
                    document.getElementById('dllPayGroup2Agerelatedtable').value = "";
                    document.getElementById('dllPayGroup3Agerelatedtable').value = "";
                    document.getElementById('dllPayGroup1Servicerelatedtable').value = "";
                    document.getElementById('dllPayGroup2Servicerelatedtable').value = "";
                    document.getElementById('dllPayGroup3Servicerelatedtable').value = "";
                    break;
                case "Age related table":
                    document.getElementById('txtPayGroup1FixedIncrease').value = "";
                    document.getElementById('txtPayGroup2FixedIncrease').value = "";
                    document.getElementById('txtPayGroup3FixedIncrease').value = "";
                    document.getElementById('dllPayGroup1Agerelatedtable').value = "Table 2";
                    document.getElementById('dllPayGroup2Agerelatedtable').value = "Table 1";
                    document.getElementById('dllPayGroup3Agerelatedtable').value = "Table 2";
                    document.getElementById('dllPayGroup1Servicerelatedtable').value = "";
                    document.getElementById('dllPayGroup2Servicerelatedtable').value = "";
                    document.getElementById('dllPayGroup3Servicerelatedtable').value = "";
                    break;
                case "Service related table":
                    document.getElementById('txtPayGroup1FixedIncrease').value = "";
                    document.getElementById('txtPayGroup2FixedIncrease').value = "";
                    document.getElementById('txtPayGroup3FixedIncrease').value = "";
                    document.getElementById('dllPayGroup1Agerelatedtable').value = "";
                    document.getElementById('dllPayGroup2Agerelatedtable').value = "";
                    document.getElementById('dllPayGroup3Agerelatedtable').value = "";
                    document.getElementById('dllPayGroup1Servicerelatedtable').value = "Table 6";
                    document.getElementById('dllPayGroup2Servicerelatedtable').value = "Table 7";
                    document.getElementById('dllPayGroup3Servicerelatedtable').value = "Table 7";
                    break;
                default:

            }
        }

        function switchAutoescalation() {}

        function switchclassormix(SingleClassorMixId, ClassId) {}

        function switchRebalanceattheendofeachyear() {}

        function switchUseCurrentMixforfuturecontributions() {}
    </script>

</head>

<body onload="load();">
    <div class="Parameters" Id="divParameter">
        <form action="/process_post" method="post" enctype="multipart/form-data">
            <div class="paraTitle">Total Retirement Simulator<div class="linkDiv"><a href="ClientDetail.html">Back</a></div></div>
            <!--Census Date and Project Type -->
            <table class="sectionTable">
                <tr>
                    <td class="firstTd">Census Date</td>
                    <td><input type="text" id="txtCensusDate" name="txtCensusDate" /></td>
                    <td>Project Type</td>
                    <td>
                        <select name="dllProjectType">
						  <option value="stochastic">Stochastic</option>
						  <option value="deterministic">Deterministic</option>
						</select>
                    </td>
                </tr>
            </table>
            <div class="splitDiv"></div>
            <!--Employee Data-->
            <table class="sectionTable">
                <tr>
                    <td class="firstTd" style="vertical-align:bottom">Employee Data</td>
                    <!--<td colspan="3">File Name<br /><input type="file" class="inputFile" name="fileEmployeeData" /></td>-->
					<td><select name="dllEmployeeData">
							<option value="EmployeeData1">EmployeeData1</option>
							<option value="EmployeeData2">EmployeeData2</option>
							<option value="EmployeeData3">EmployeeData3</option>
					</select></td>
                </tr>
                <tr>
                    <td class="firstTd">Import DB Results?</td>
                    <td>
                        <select name="dllImportDBResults">
							<option value="TRUE">TRUE</option>
							<option value="FALSE">FALSE</option>
						</select>
                    </td>
                    <td> </td>
                    <td> </td>
                </tr>
                <tr>
                    <td class="firstTd">DB Results</td>
                    <!--<td colspan="3"><input type="file" class="inputFile" name="fileDBResults" /></td>-->
					<td><select name="dllDBResults">
							<option value="DBResults1">DBResults1</option>
							<option value="DBResults2">DBResults2</option>
							<option value="DBResults3">DBResults3</option>
					</select></td>
                </tr>
                <tr>
                    <td class="firstTd">Output File Name</td>
                    <!--<td colspan="3"><input type="file" class="inputFile" name="fileOutputFile" /></td>-->
					<td><input type="text" id="txtOutputFileName" name="txtOutputFileName" /></td>
                </tr>
                <tr>
                    <td class="multiLineTd firstTd">Notes:</td>
                    <td colspan="3"><textarea rows="4" cols="80" name="txtNotes"></textarea></td>
                </tr>
            </table>
            <div class="splitDiv"></div>
            <!--Population to be Run-->
            <table class="sectionTable">
                <tr>
                    <td class="multiLineTd firstTd">Population to be Run</td>
                    <td class="multiLineTd">
                        <select name="dllPopulationtobeRun" id="dllPopulationtobeRun" onchange="switchPopbulationtobeRun()">
						  <option value="All Participants">All Participants</option>
						  <option value="Subset of Participants">Subset of Participants</option>
						  <option value="Test Cases">Test Cases</option>
						</select>
                    </td>
                    <td class="multiLineTd" rowspan="8">
                        <div id="divTestCases" class="divTestCases">
                            <table name="tableTestCases" class="tableTestCases">
                                <tr>
                                    <td class="innerTd">Test Cases</td>
                                    <td class="innerTd">EEID</td>
                                </tr>
                                <tr>
                                    <td class="innerTd">1</td>
                                    <td class="innerTd"><input type="text" id="txttableTestCases1" name="txttableTestCases1" /></td>
                                </tr>
                                <tr>
                                    <td class="innerTd">2</td>
                                    <td class="innerTd"><input type="text" id="txttableTestCases2" name="txttableTestCases2" /></td>
                                </tr>
                                <tr>
                                    <td class="innerTd">3</td>
                                    <td class="innerTd"><input type="text" id="txttableTestCases3" name="txttableTestCases3" /></td>
                                </tr>
                                <tr>
                                    <td class="innerTd">4</td>
                                    <td class="innerTd"><input type="text" id="txttableTestCases4" name="txttableTestCases4" /></td>
                                </tr>
                                <tr>
                                    <td class="innerTd">5</td>
                                    <td class="innerTd"><input type="text" id="txttableTestCases5" name="txttableTestCases5" /></td>
                                </tr>
                                <tr>
                                    <td class="innerTd">6</td>
                                    <td class="innerTd"><input type="text" id="txttableTestCases6" name="txttableTestCases6" /></td>
                                </tr>
                                <tr>
                                    <td class="innerTd">7</td>
                                    <td class="innerTd"><input type="text" id="txttableTestCases7" name="txttableTestCases7" /></td>
                                </tr>
                                <tr>
                                    <td class="innerTd">8</td>
                                    <td class="innerTd"><input type="text" id="txttableTestCases8" name="txttableTestCases8" /></td>
                                </tr>
                                <tr>
                                    <td class="innerTd">9</td>
                                    <td class="innerTd"><input type="text" id="txttableTestCases9" name="txttableTestCases9" /></td>
                                </tr>
                                <tr>
                                    <td class="innerTd">10</td>
                                    <td class="innerTd"><input type="text" id="txttableTestCases10" name="txttableTestCases10" /></td>
                                </tr>
                                <tr>
                                    <td class="innerTd"></td>
                                    <td class="innerTd"><input type="text" id="txttableTestCases11" name="txttableTestCases11" /></td>
                                </tr>
                            </table>
                        </div>
                    </td>
                    <td class="multiLineTd" rowspan="8"><br /><br /><input type="submit" class="inputSubmit" value="Run" /> </td>
                </tr>
                <tr>
                    <td id="tdSubsetofParticipants1" class="innerTd firstTd">
                        Subset of Participants
                    </td>
                    <td class="innerTd">
                    </td>
                </tr>
                <tr>
                    <td id="tdSubsetofParticipants2" class="innerTd subTd">
                        No of Participants
                        <br /> Start with Row
                    </td>
                    <td id="tdSubsetofParticipants3" class="innerTd">
                        <input type="text" id="txtNoofParticipants" name="txtNoofParticipants" />
                        <br />
                        <input type="text" id="txtStartwithRow" name="txtStartwithRow" />
                    </td>
                </tr>
                <tr>
                    <td class="firstTd firstTd">Trial to be Run</td>
                    <td><select name="dllTrialtobeRun" id="dllTrialtobeRun" onchange="switchTrialtobeRun()">
						  <option value="All">All</option>
						  <option value="Test Trial">Test Trial</option>
						</select>
                    </td>
                </tr>
                <tr>
                    <td id="lblTesttrialnumber" class="subTd">Test trial number</td>
                    <td id="tdTesttrialnumber"><input type="text" id="txtTesttrialnumber" name="txtTesttrialnumber" /></td>
                </tr>
                <tr>
                    <td class="innerTd firstTd">
                        Start Age
                        <br /> End Age
                    </td>
                    <td class="innerTd">
                        <input type="text" id="txtStartAge" name="txtStartAge" />
                        <br />
                        <input type="text" id="txtEndAge" name="txtEndAge" />
                    </td>
                </tr>
            </table>
            <div class="splitDiv"></div>
            <!--Pay Related Assumptions-->
            <table class="sectionTable">
                <tr>
                    <td class="firstTd">Pay Related Assumptions</td>
                    <td class="spanTd"></td>
                    <td class="spanTd"></td>
                    <td class="spanTd"></td>
                    <td class="subTd"></td>
                    <td class="spanTd"></td>
                    <td class="spanTd"></td>
                </tr>
                <tr>
                    <td class="subTd">Pay Increase Type</td>
                    <td>
                        <select name="dllPayIncreaseType" id="dllPayIncreaseType" onchange="switchPayIncreaseType()">
						  <option value="Fixed Increase">Fixed Increase</option>
						  <option value="Age related table" selected>Age related table</option>
						  <option value="Service related table">Service related table</option>
						</select>
                    </td>
                </tr>
                <tr>
                    <td class="subTd">
                        <br /> Fixed Increase
                        <br /> Age related table
                        <br /> Service related table
                        <br /><br /> Bonus as a % of Target
                    </td>
                    <td>
                        Pay Group 1
                        <br />
                        <input type="text" id="txtPayGroup1FixedIncrease" name="txtPayGroup1FixedIncrease" />
                        <br />
                        <select name="dllPayGroup1Agerelatedtable" id="dllPayGroup1Agerelatedtable">
						 	<option disabled selected value></option>
							<option value="Table 1">Table 1</option>
							<option value="Table 2">Table 2</option>
							<option value="Table 3">Table 3</option>
							<option value="Table 4">Table 4</option>
							<option value="Table 5">Table 5</option>
						</select>
                        <br />
                        <select name="dllPayGroup1Servicerelatedtable" id="dllPayGroup1Servicerelatedtable">
							<option disabled selected value></option>
							<option value="Table 6">Table 6</option>
							<option value="Table 7">Table 7</option>
							<option value="Table 8">Table 8</option>
							<option value="Table 9">Table 9</option>
							<option value="Table 10">Table 10</option>
						</select>
                        <br /><br />
                        <input type="text" id="txtPayGroup1BonusasaPecentofTarget" name="txtPayGroup1BonusasaPecentofTarget" />
                    </td>
                    <td>
                        Pay Group 2
                        <br />
                        <input type="text" id="txtPayGroup2FixedIncrease" name="txtPayGroup2FixedIncrease" />
                        <br />
                        <select name="dllPayGroup2Agerelatedtable" id="dllPayGroup2Agerelatedtable">
							<option disabled selected value></option>
							<option value="Table 1">Table 1</option>
							<option value="Table 2">Table 2</option>
							<option value="Table 3">Table 3</option>
							<option value="Table 4">Table 4</option>
							<option value="Table 5">Table 5</option>
						</select>
                        <br />
                        <select name="dllPayGroup2Servicerelatedtable" id="dllPayGroup2Servicerelatedtable">
							<option disabled selected value></option>
							<option value="Table 6">Table 6</option>
							<option value="Table 7">Table 7</option>
							<option value="Table 8">Table 8</option>
							<option value="Table 9">Table 9</option>
							<option value="Table 10">Table 10</option>
						</select>
                        <br /><br />
                        <input type="text" id="txtPayGroup2BonusasaPecentofTarget" name="txtPayGroup2BonusasaPecentofTarget" />
                    </td>
                    <td>
                        Pay Group 3
                        <br />
                        <input type="text" id="txtPayGroup3FixedIncrease" name="txtPayGroup3FixedIncrease" />
                        <br />
                        <select name="dllPayGroup3Agerelatedtable" id="dllPayGroup3Agerelatedtable">
							<option disabled selected value></option>
							<option value="Table 1">Table 1</option>
							<option value="Table 2">Table 2</option>
							<option value="Table 3">Table 3</option>
							<option value="Table 4">Table 4</option>
							<option value="Table 5">Table 5</option>
						</select>
                        <br />
                        <select name="dllPayGroup3Servicerelatedtable" id="dllPayGroup3Servicerelatedtable">
							<option disabled selected value></option>
							<option value="Table 6">Table 6</option>
							<option value="Table 7">Table 7</option>
							<option value="Table 8">Table 8</option>
							<option value="Table 9">Table 9</option>
							<option value="Table 10">Table 10</option>
						</select>
                        <br /><br />
                        <input type="text" id="txtPayGroup3BonusasaPecentofTarget" name="txtPayGroup3BonusasaPecentofTarget" />
                    </td>
                    <td class="subTd">
                        <br /> Adjusted for Inflation
                        <br /> Baseline inflation for adj
                        <br /> Minimum Increase
                        <br /><br /><br />
                    </td>
                    <td>
                        All Pay Groups
                        <br />
                        <select name="dllAdjustedforInflation">
							<option value="TRUE">TRUE</option>
							<option value="FALSE">FALSE</option>
						</select>
                        <br />
                        <input type="text" id="txtBaselineinflationforadj	" name="txtBaselineinflationforadj" />
                        <br />
                        <input type="text" id="txtMinimumIncrease" name="txtMinimumIncrease" />
                        <br /><br /><br />
                    </td>
                </tr>
            </table>
            <div class="splitDiv"></div>
            <!--Assumed Tax rate-->
            <table class="sectionTable">
                <tr>
                    <td class="firstTd">Assumed Tax rate</td>
                    <td>
                        Pre-Retirement
                        <br />
                        <input type="text" id="txtPreRetirement" name="txtPreRetirement" />
                    </td>
                    <td class="spanTd"></td>
                    <td>
                        Post Retirement
                        <br />
                        <input type="text" id="txtPostRetirement" name="txtPostRetirement" />
                    </td>
                    <td class="subTd"></td>
                    <td class="spanTd"></td>
                    <td class="spanTd"></td>
                </tr>
            </table>
            <div class="splitDiv"></div>
            <!--Prorate Target for Short Svc?-->
            <table class="sectionTable">
                <tr>
                    <td class="firstTd">Prorate Target for Short Svc?</td>
                    <td class="spanTd"></td>
                    <td>
                        <select name="dllProrateTargetforShortSvc">
							<option value="TRUE">TRUE</option>
							<option value="FALSE">FALSE</option>
						</select>
                    </td>
                    <td class="spanTd"></td>
                    <td class="subTd"></td>
                    <td class="spanTd"></td>
                </tr>
                <tr>
                    <td class="subTd" colspan="2">
                        No. of Years for Full Target
                        <br /> Starting age for prorate period
                    </td>
                    <td>
                        <input type="text" id="txtNoofYearsforFullTarget" name="txtNoofYearsforFullTarget" />
                        <br />
                        <input type="text" id="txtStartingageforprorateperiod" name="txtStartingageforprorateperiod" />
                    </td>
                </tr>
                <tr>
                    <td class="firstTd" colspan="2">Custom Percentile to include in output</td>
                    <td>
                        <input type="text" id="txtCustomPercentiletoincludeinoutput" name="txtCustomPercentiletoincludeinoutput" />
                    </td>
                </tr>
                <tr>
                    <td class="subTd" colspan="2">
                        Stop Age for post-retirement benefits
                        <br /> Interest rate to calculate PV
                    </td>
                    <td>
                        <input type="text" id="txtStopAgeforpostretirementbenefits" name="txtStopAgeforpostretirementbenefits" />
                        <br />
                        <input type="text" id="txtInterestratetocalculatePV" name="txtInterestratetocalculatePV" />
                    </td>
                </tr>
            </table>
            <div class="splitDiv"></div>
            <!--Profit Sharing percentage-->
            <table class="sectionTable">
                <tr>
                    <td class="firstTd">Profit Sharing percentage</td>
                    <td class="spanTd"></td>
                    <td>
                        <input type="text" id="txtProfitSharingpercentage" name="txtProfitSharingpercentage" />
                    </td>
                    <td class="spanTd"></td>
                    <td class="subTd"></td>
                    <td class="spanTd"></td>
                </tr>
                <tr>
                    <td class="firstTd" colspan="2">Include Bonus in Profit Sharing pay?</td>
                    <td>
                        <select name="dllIncludeBonusinProfitSharingpay">
							<option value="TRUE">TRUE</option>
							<option value="FALSE">FALSE</option>
						</select>
                    </td>
                </tr>
                <tr>
                    <td class="firstTd" colspan="2">Minimum service for PS eligibility</td>
                    <td>
                        <input type="text" id="txtMinimumserviceforPSeligibility" name="txtMinimumserviceforPSeligibility" />
                    </td>
                </tr>
                <tr>
                    <td class="firstTd" colspan="2">Portion of year interest for annual contribution</td>
                    <td>
                        <input type="text" id="txtPortionofyearinterestforannualcontribution" name="txtPortionofyearinterestforannualcontribution" />
                    </td>
                </tr>
            </table>
            <div class="splitDiv"></div>
            <!--Include Bonus in 401(k) pay?-->
            <table class="sectionTable">
                <tr>
                    <td class="firstTd">Include Bonus in 401(k) pay?</td>
                    <td class="spanTd"></td>
                    <td>
                        <select name="dllIncludeBonusin401pay">
							<option value="TRUE">TRUE</option>
							<option value="FALSE">FALSE</option>
						</select>
                    </td>
                    <td class="spanTd"></td>
                    <td class="subTd"></td>
                    <td class="spanTd"></td>
                </tr>
                <tr>
                    <td class="firstTd" colspan="2">
                        401(k) Pre-tax Employee Contribution
                    </td>
                </tr>
                <tr>
                    <td class="subTd" colspan="2">
                        Minimum deferral rate
                        <br /> Maximum deferral rate
                        <br /> Allow Catch-up contributions
                    </td>
                    <td>
                        <input type="text" id="txtMinimumdeferralrate" name="txtMinimumdeferralrate" />
                        <br />
                        <input type="text" id="txtMaximumdeferralrate" name="txtMaximumdeferralrate" />
                        <br />
                        <select name="dllAllowCatchupcontributions">
							<option value="TRUE">TRUE</option>
							<option value="FALSE">FALSE</option>
						</select>
                    </td>
                </tr>
                <tr>
                    <td class="subTd" colspan="2">
                        Auto-escalation?
                        <br />
                        <span class="subSpan" />Annual Increase
                        <br />
                        <span class="subSpan" />Maximum Auto-escalation
                    </td>
                    <td>
                        <select name="dllAutoescalation" id="dllAutoescalation" onchange="switchAutoescalation()">
							<option value="TRUE">TRUE</option>
							<option value="FALSE">FALSE</option>
						</select>
                        <br />
                        <input type="text" id="txtAnnualIncrease" name="txtAnnualIncrease" />
                        <br />
                        <input type="text" id="txtMaximumAutoescalation" name="txtMaximumAutoescalation" />
                    </td>
                </tr>
                <tr>
                    <td class="firstTd" colspan="2">
                        401(k) Employer Match Contribution
                    </td>
                </tr>
                <tr>
                    <td class="subTd" colspan="2">
                        Rate table for first x%
                        <br />
                        <span class="subSpan" />Percentage of pay for which this table applies
                        <br /> Rate table for next y%
                        <br />
                        <span class="subSpan" />Percentage of additional pay for which this table applies
                    </td>
                    <td>
                        <select name="dllRatetableforfirstx" id="dllRatetableforfirstx">
							<option value="Match Table 1">Match Table 1</option>
							<option value="Match Table 2">Match Table 2</option>
							<option value="Match Table 3">Match Table 3</option>
							<option value="Match Table 4">Match Table 4</option>
						</select>
                        <br />
                        <input type="text" id="txtPercentageofpay" name="txtPercentageofpay" />
                        <br />
                        <select name="dllRatetablefornexty" id="dllRatetablefornexty">
							<option value="Match Table 1">Match Table 1</option>
							<option value="Match Table 2">Match Table 2</option>
							<option value="Match Table 3">Match Table 3</option>
							<option value="Match Table 4">Match Table 4</option>
						</select>
                        <br />
                        <input type="text" id="txtPercentageofadditionalpay" name="txtPercentageofadditionalpay" />
                    </td>
                </tr>
                <tr>
                    <td class="subTd" colspan="2">
                        <span class="subSpan" />Include After-tax contributions for match?
                    </td>
                    <td>
                        <select name="dllIncludeAftertaxcontributions" id="dllIncludeAftertaxcontributions">
							<option value="TRUE">TRUE</option>
							<option value="FALSE">FALSE</option>
						</select>
                    </td>
                </tr>
                <tr>
                    <td class="subTd" colspan="2">
                        <span class="subSpan" />Max overall match as a percentage of pay
                        <br />
                        <span class="subSpan" />Maximum dollar match
                        <br />
                        <span class="subSpan" />Adjust maximum dollar match for inflation?
                    </td>
                    <td>
                        <input type="text" id="txtMaxoverallmatchasapercentageofpay" name="txtMaxoverallmatchasapercentageofpay" />
                        <br />
                        <input type="text" id="txtMaximumdollarmatch" name="txtMaximumdollarmatch" />
                        <br />
                        <select name="dllAdjustmaximumdollarmatchforinflation" id="dllAdjustmaximumdollarmatchforinflation">
							<option value="TRUE">TRUE</option>
							<option value="FALSE">FALSE</option>
						</select>
                    </td>
                </tr>
            </table>
            <div class="splitDiv"></div>
            <!--Adjust for medical expenses?-->
            <table class="sectionTable">
                <tr>
                    <td class="firstTd">Adjust for medical expenses?</td>
                    <td class="spanTd"></td>
                    <td>
                        <select name="dllAdjustformedicalexpenses">
							<option value="TRUE">TRUE</option>
							<option value="FALSE">FALSE</option>
						</select>
                    </td>
                    <td class="spanTd"></td>
                    <td class="subTd"></td>
                    <td class="spanTd"></td>
                </tr>
                <tr>
                    <td class="firstTd" colspan="2">
                        Pre-retirement medical expenses
                        <br /> Post-retirement medical expenses
                        <br />
                        <span class="subSpan" />Pre-65
                        <br />
                        <span class="subSpan" />Post-65
                    </td>
                    <td>
                        <input type="text" id="txtPreretirementmedicalexpenses" name="txtPreretirementmedicalexpenses" />
                        <br /><br />
                        <input type="text" id="txtPostretirementmedicalexpensesPre65" name="txtPostretirementmedicalexpensesPre65" />
                        <br />
                        <input type="text" id="txtPostretirementmedicalexpensesPost65" name="txtPostretirementmedicalexpensesPost65" />
                    </td>
                </tr>
            </table>
            <div class="splitDiv"></div>
            <!--Social Security PIA-->
            <table class="sectionTable">
                <tr>
                    <td class="firstTd">
                        Social Security PIA
                        <br />
                        <span class="subSpan" />Social Security COLA Assumption
                        <br />
                        <span class="subSpan" />Wage Base Increase Assumption
                    </td>
                    <td class="spanTd"></td>
                    <td>
                        <br />
                        <input type="text" id="txtSocialSecurityCOLAAssumption" name="txtSocialSecurityCOLAAssumption" />
                        <br />
                        <input type="text" id="txtWageBaseIncreaseAssumption" name="txtWageBaseIncreaseAssumption" />
                    </td>
                    <td class="spanTd"></td>
                    <td class="subTd"></td>
                    <td class="spanTd"></td>
                </tr>
                <tr>
                    <td class="subTd" colspan="2">
                        Social Security PIA Commencement Age
                    </td>
                    <td>
                        <input type="text" id="txtSocialSecurityPIACommencementAge" name="txtSocialSecurityPIACommencementAge" />
                    </td>
                </tr>
                <tr>
                    <td class="subTd" colspan="2">
                        Historical Pay Scale (for pay before history begins)
                    </td>
                    <td>
                        <input type="text" id="txtHistoricalPayScale" name="txtHistoricalPayScale" />
                    </td>
                </tr>
            </table>
            <div class="splitDiv"></div>
            <!--Fund (from Individual Data tab)-->
            <table class="sectionTable">
                <tr>
                    <td class="firstTd">
                        Fund (from Individual Data tab)
                        <br /> AGGRESSIVE FUNDTPQA
                        <br /> AGGRESSIVE GROWTH EQTCAG
                        <br /> BOND INDEXTPQB
                        <br /> BROKERAGELINKBLNK
                        <br /> CAPITAL PRESERVATIONGCTI
                        <br /> CONSERVATIVE FUNDTPQC
                        <br /> DFA EMRG MKT CORE EQOEFQ
                        <br /> DIVERSIFIED BONDTPQD
                        <br /> GROWTH FUNDTPQE
                        <br /> INTERNATIONAL INDEXTPQG
                    </td>
                    <td>
                        Single class or mix?
                        <br />
                        <select name="dllAGGRESSIVEFUNDTPQASingleclassormix" id="dllAGGRESSIVEFUNDTPQASingleclassormix" onchange="switchclassormix(dllAGGRESSIVEFUNDTPQASingleclassormix,dllAGGRESSIVEFUNDTPQASingleclass)">
							<option value="0">-</option>
							<option value="1">1</option>
						</select>
                        <br />
                        <select name="dllAGGRESSIVEGROWTHEQTCAGSingleclassormix" id="dllAGGRESSIVEGROWTHEQTCAGSingleclassormix" onchange="switchclassormix(dllAGGRESSIVEGROWTHEQTCAGSingleclassormix,dllAGGRESSIVEGROWTHEQTCAGSingleclass)">
							<option value="0">-</option>
							<option value="1">1</option>
						</select>
                        <br />
                        <select name="dllBONDINDEXTPQBSingleclassormix" id="dllBONDINDEXTPQBSingleclassormix" onchange="switchclassormix(dllBONDINDEXTPQBSingleclassormix,dllBONDINDEXTPQBSingleclass)">
							<option value="0">-</option>
							<option value="1">1</option>
						</select>
                        <br />
                        <select name="dllBROKERAGELINKBLNKSingleclassormix" id="dllBROKERAGELINKBLNKSingleclassormix" onchange="switchclassormix(dllBROKERAGELINKBLNKSingleclassormix,dllBROKERAGELINKBLNKSingleclass)">
							<option value="0">-</option>
							<option value="1">1</option>
						</select>
                        <br />
                        <select name="dllCAPITALPRESERVATIONGCTISingleclassormix" id="dllCAPITALPRESERVATIONGCTISingleclassormix" onchange="switchclassormix(dllCAPITALPRESERVATIONGCTISingleclassormix,dllCAPITALPRESERVATIONGCTISingleclass)">
							<option value="0">-</option>
							<option value="1">1</option>
						</select>
                        <br />
                        <select name="dllCONSERVATIVEFUNDTPQCSingleclassormix" id="dllCONSERVATIVEFUNDTPQCSingleclassormix" onchange="switchclassormix(dllCONSERVATIVEFUNDTPQCSingleclassormix,dllCONSERVATIVEFUNDTPQCSingleclass)">
							<option value="0">-</option>
							<option value="1">1</option>
						</select>
                        <br />
                        <select name="dllDFAEMRGMKTCOREEQOEFQSingleclassormix" id="dllDFAEMRGMKTCOREEQOEFQSingleclassormix" onchange="switchclassormix(dllDFAEMRGMKTCOREEQOEFQSingleclassormix,dllDFAEMRGMKTCOREEQOEFQSingleclass)">
							<option value="0">-</option>
							<option value="1">1</option>
						</select>
                        <br />
                        <select name="dllDIVERSIFIEDBONDTPQDSingleclassormix" id="dllDIVERSIFIEDBONDTPQDSingleclassormix" onchange="switchclassormix(dllDIVERSIFIEDBONDTPQDSingleclassormix,dllDIVERSIFIEDBONDTPQDSingleclass)">
							<option value="0">-</option>
							<option value="1">1</option>
						</select>
                        <br />
                        <select name="dllGROWTHFUNDTPQESingleclassormix" id="dllGROWTHFUNDTPQESingleclassormix" onchange="switchclassormix(dllGROWTHFUNDTPQESingleclassormix,dllGROWTHFUNDTPQESingleclass)">
							<option value="0">-</option>
							<option value="1">1</option>
						</select>
                        <br />
                        <select name="dllINTERNATIONALINDEXTPQGSingleclassormix" id="dllINTERNATIONALINDEXTPQGSingleclassormix" onchange="switchclassormix(dllINTERNATIONALINDEXTPQGSingleclassormix,dllINTERNATIONALINDEXTPQGSingleclass)">
							<option value="0">-</option>
							<option value="1">1</option>
						</select>
                    </td>
                    <td>
                        Class
                        <br />
                        <select name="dllAGGRESSIVEFUNDTPQASingleclass" id="dllAGGRESSIVEFUNDTPQASingleclass">
							<option value="Conservative-35">Conservative-35</option>
							<option value="Conservative-55">Conservative-55</option>
							<option value="Conservative-65">Conservative-65</option>
							<option value="Moderate-35">Moderate-35</option>
						</select>
                        <br />
                        <select name="dllAGGRESSIVEGROWTHEQTCAGSingleclass" id="dllAGGRESSIVEGROWTHEQTCAGSingleclass">
							<option value="Conservative-35">Conservative-35</option>
							<option value="Conservative-55">Conservative-55</option>
							<option value="Conservative-65">Conservative-65</option>
							<option value="Moderate-35">Moderate-35</option>
						</select>
                        <br />
                        <select name="dllBONDINDEXTPQBSingleclass" id="dllBONDINDEXTPQBSingleclass">
							<option value="Conservative-35">Conservative-35</option>
							<option value="Conservative-55">Conservative-55</option>
							<option value="Conservative-65">Conservative-65</option>
							<option value="Moderate-35">Moderate-35</option>
						</select>
                        <br />
                        <select name="dllBROKERAGELINKBLNKSingleclass" id="dllBROKERAGELINKBLNKSingleclass">
							<option value="Conservative-35">Conservative-35</option>
							<option value="Conservative-55">Conservative-55</option>
							<option value="Conservative-65">Conservative-65</option>
							<option value="Moderate-35">Moderate-35</option>
						</select>
                        <br />
                        <select name="dllCAPITALPRESERVATIONGCTISingleclass" id="dllCAPITALPRESERVATIONGCTISingleclass">
							<option value="Conservative-35">Conservative-35</option>
							<option value="Conservative-55">Conservative-55</option>
							<option value="Conservative-65">Conservative-65</option>
							<option value="Moderate-35">Moderate-35</option>
						</select>
                        <br />
                        <select name="dllCONSERVATIVEFUNDTPQCSingleclass" id="dllCONSERVATIVEFUNDTPQCSingleclass">
							<option value="Conservative-35">Conservative-35</option>
							<option value="Conservative-55">Conservative-55</option>
							<option value="Conservative-65">Conservative-65</option>
							<option value="Moderate-35">Moderate-35</option>
						</select>
                        <br />
                        <select name="dllDFAEMRGMKTCOREEQOEFQSingleclass" id="dllDFAEMRGMKTCOREEQOEFQSingleclass">
							<option value="Conservative-35">Conservative-35</option>
							<option value="Conservative-55">Conservative-55</option>
							<option value="Conservative-65">Conservative-65</option>
							<option value="Moderate-35">Moderate-35</option>
						</select>
                        <br />
                        <select name="dllDIVERSIFIEDBONDTPQDSingleclass" id="dllDIVERSIFIEDBONDTPQDSingleclass">
							<option value="Conservative-35">Conservative-35</option>
							<option value="Conservative-55">Conservative-55</option>
							<option value="Conservative-65">Conservative-65</option>
							<option value="Moderate-35">Moderate-35</option>
						</select>
                        <br />
                        <select name="dllGROWTHFUNDTPQESingleclass" id="dllGROWTHFUNDTPQESingleclass">
							<option value="Conservative-35">Conservative-35</option>
							<option value="Conservative-55">Conservative-55</option>
							<option value="Conservative-65">Conservative-65</option>
							<option value="Moderate-35">Moderate-35</option>
						</select>
                        <br />
                        <select name="dllINTERNATIONALINDEXTPQGSingleclass" id="dllINTERNATIONALINDEXTPQGSingleclass">
							<option value="Conservative-35">Conservative-35</option>
							<option value="Conservative-55">Conservative-55</option>
							<option value="Conservative-65">Conservative-65</option>
							<option value="Moderate-35">Moderate-35</option>
						</select>
                    </td>
                    <td>
                        <br />
                        <input type="text" id="txtAGGRESSIVEFUNDTPQASingleclassormix" name="txtAGGRESSIVEFUNDTPQASingleclassormix" />
                        <br />
                        <input type="text" id="txtAGGRESSIVEGROWTHEQTCAGSingleclassormix" name="txtAGGRESSIVEGROWTHEQTCAGSingleclassormix" />
                        <br />
                        <input type="text" id="txtBONDINDEXTPQBSingleclassormix" name="txtBONDINDEXTPQBSingleclassormix" />
                        <br />
                        <input type="text" id="txtBROKERAGELINKBLNKSingleclassormix" name="txtBROKERAGELINKBLNKSingleclassormix" />
                        <br />
                        <input type="text" id="txtCAPITALPRESERVATIONGCTISingleclassormix" name="txtCAPITALPRESERVATIONGCTISingleclassormix" />
                        <br />
                        <input type="text" id="txtCONSERVATIVEFUNDTPQCSingleclassormix" name="txtCONSERVATIVEFUNDTPQCSingleclassormix" />
                        <br />
                        <input type="text" id="txtDFAEMRGMKTCOREEQOEFQSingleclassormix" name="txtDFAEMRGMKTCOREEQOEFQSingleclassormix" />
                        <br />
                        <input type="text" id="txtDIVERSIFIEDBONDTPQDSingleclassormix" name="txtDIVERSIFIEDBONDTPQDSingleclassormix" />
                        <br />
                        <input type="text" id="txtGROWTHFUNDTPQESingleclassormix" name="txtGROWTHFUNDTPQESingleclassormix" />
                        <br />
                        <input type="text" id="txtINTERNATIONALINDEXTPQGSingleclassormix" name="txtINTERNATIONALINDEXTPQGSingleclassormix" />
                    </td>
                    <td class="subTd"></td>
                    <td class="spanTd"></td>
                    <td class="spanTd"></td>
                </tr>
                <tr>
                    <td class="firstTd" colspan="3">
                        Rebalance at the end of each year?
                        <br /> Mixed Fund Class allocations are Fixed or Age-Based
                        <br /> Use Current Mix (from Individual Data) for future contributions?
                    </td>
                    <td>
                        <select name="dllRebalanceattheendofeachyear" id="dllRebalanceattheendofeachyear" onchange="switchRebalanceattheendofeachyear()">
							<option value="TRUE">TRUE</option>
							<option value="FALSE">FALSE</option>
						</select>
                        <br />
                        <select name="dllMixedFundClassallocations" id="dllMixedFundClassallocations">
							<option value="Fixed">Fixed</option>
							<option value="Age-Based">Age-Based</option>
						</select>
                        <br />
                        <select name="dllUseCurrentMixforfuturecontributions" id="dllUseCurrentMixforfuturecontributions" onchange="switchUseCurrentMixforfuturecontributions()">
							<option value="TRUE">TRUE</option>
							<option value="FALSE">FALSE</option>
						</select>
                    </td>
                </tr>
                <tr>
                    <td class="firstTd innerTd" colspan="3">
                        Fund Allocations for Future Contributions and Rebalancing
                    </td>
                </tr>
                <tr>
                    <td class="firstTd innerTd">
                        AGGRESSIVE FUNDTPQA
                        <br /> AGGRESSIVE GROWTH EQTCAG
                        <br /> BOND INDEXTPQB
                        <br /> BROKERAGELINKBLNK
                        <br /> CAPITAL PRESERVATIONGCTI
                        <br /> CONSERVATIVE FUNDTPQC
                        <br /> DFA EMRG MKT CORE EQOEFQ
                        <br /> DIVERSIFIED BONDTPQD
                        <br /> GROWTH FUNDTPQE
                        <br /> INTERNATIONAL INDEXTPQG
                        <br />
                    </td>
                    <td class="innerTd">
                        <input type="text" id="txtAGGRESSIVEFUNDTPQA" name="txtAGGRESSIVEFUNDTPQA" />
                        <br />
                        <input type="text" id="txtAGGRESSIVEGROWTHEQTCAG" name="txtAGGRESSIVEGROWTHEQTCAG" />
                        <br />
                        <input type="text" id="txtBONDINDEXTPQB" name="txtBONDINDEXTPQB" />
                        <br />
                        <input type="text" id="txtBROKERAGELINKBLNK" name="txtBROKERAGELINKBLNK" />
                        <br />
                        <input type="text" id="txtCAPITALPRESERVATIONGCTI" name="txtCAPITALPRESERVATIONGCTI" />
                        <br />
                        <input type="text" id="txtCONSERVATIVEFUNDTPQC" name="txtCONSERVATIVEFUNDTPQC" />
                        <br />
                        <input type="text" id="txtDFAEMRGMKTCOREEQOEFQ" name="txtDFAEMRGMKTCOREEQOEFQ" />
                        <br />
                        <input type="text" id="txtDIVERSIFIEDBONDTPQD" name="txtDIVERSIFIEDBONDTPQD" />
                        <br />
                        <input type="text" id="txtGROWTHFUNDTPQE" name="txtGROWTHFUNDTPQE" />
                        <br />
                        <input type="text" id="txtINTERNATIONALINDEXTPQG" name="txtINTERNATIONALINDEXTPQG" />
                        <br />
                    </td>
                </tr>
                <tr>
                    <td><br /></td>
                </tr>
            </table>
            <div class="splitDiv"></div>
        </form>
    </div>
</body>

</html>